.projectDetails {
  border-radius: 0.3rem;
  border: 2px solid #3758f9;
  background-color: transparent;
  color: #3758f9;
  font-weight: 550;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.projectDetails:hover {
  border-color: transparent;
  background-color: #3758f9;
  color: #fff;
}

.closeButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #383838;
}
